header {
  background-color: darkolivegreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

header img {
  width: 125px;
  padding: 0px;
  border: 3px solid tan;
  border-radius: 10px;
}

header h1 {
  font-size: 3.5rem;
  text-align: center;
  color: tan;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 150%;
}

nav a {
  padding: 1rem 2rem;
  text-transform: uppercase;
  display: block;
  color: tan;
  text-decoration: none;
}

nav a:hover {
  background-color: olive;
  border-radius: 1rem;
}

main {
  max-width: 80rem;
  margin: 0 auto;
  font-size: 175%;
  line-height: 2;
  padding: 10px 20px;
}

.background {
  background-image: url(images/istockphoto-538087893-612x612.jpg);
}

footer {
  background-color: darkolivegreen;
  color: tan;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  font-size: 150%;
  color: tan;
  padding: 1rem;
  border-radius: 25px;
}

footer a:hover {
  background-color: olive;
  color: tan;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.services ul {
  list-style-type: none;
}

.span3 {
  grid-column: span 3;
}

.column {
  border: 3px solid darkolivegreen;
  border-radius: 20px;
  padding: 2rem;
  background-color: antiquewhite;
}

.row {
  border: 3px solid darkolivegreen;
  border-radius: 20px;
  padding: 2rem;
  background-color: antiquewhite;
  margin: 1rem auto;
}

.menu ul {
  list-style-type: none;
}

.homepage img {
  width: 300px;
  border: 3px solid darkolivegreen;
  border-radius: 20px;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1.5rem;
  padding: 1rem;
}

.rightcolumn {
  border: 3px solid darkolivegreen;
  border-radius: 20px;
  padding: 2rem;
  background-color: antiquewhite;
}

.leftcolumn {
  border: 3px solid darkolivegreen;
  border-radius: 20px;
  padding: 3rem;
  background-color: antiquewhite;
}

.rightcolumn img {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-self: center;
  align-self: center;
}

.rightcolumn figcaption {
  display: flex;
  justify-self: center;
  align-self: center;
}

